		<footer class="container">
			{{> nav}}
			<div itemscope itemtype="http://schema.org/LocalBusiness">
			   <span itemprop="name">Hannah's Studio</span>
			   <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			     <span itemprop="streetAddress">158 Woodland Dr</span>
			     <span itemprop="addressLocality">Greenville</span>,
			     <span itemprop="addressRegion">SC</span>
			     <span itemprop="postalCode">29617</span>
			   </div>
			   Phone: <span itemprop="telephone">5125508700</span>
			</div>
		</footer>
	</div>
</body>
</html>