<head>
	<meta charset="UTF-8" />
	<title>{{title}} | Hannah's Studio | Piano Lessons | Greenville | South Carolina</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://use.typekit.net/uym3wkn.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="{{ fingerprint.[styles/style.css] }}">
</head>
