<nav>
  <ul>
    <li><a href="/" title="Home">Home</a></li>
    {{#each collections.pages}}
    	<li><a href="{{this.path}}" title="{{this.title}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
</nav>
