<!doctype html>
<html>
{{> header}}
<body>
<div class="page-wrap">
	<div id="header" class="ontainer"></div>
	<div class="content-wrap">
		<div id="info" class="container">
		    <div id="logo">
		    	<img src="http://res.cloudinary.com/drhoxtznf/image/upload/v1442773279/logo.min_a8vame.svg" />
		    	<div itemscope itemtype="http://schema.org/LocalBusiness">
				   <span itemprop="telephone">(864) 501-3881</span>
				</div>
		    </div>
		    {{> nav}}
		</div>

		<div id="content" class="container">
			<article class="primary">
			    {{{ contents }}}
			</article>

			<div class="endorsements">
				{{#each endorsements}}
					{{> endorsement display="hidden"}}
				{{/each}}
			</div>
		</div>

	</div>

	{{> footer}}
</div>
</body>
</html>