{{> header}}
	<div id="header" class="ontainer"></div>
	<div class="content-wrap">
		<div id="info" class="container">
		    <div id="logo">
		    	<img src="http://res.cloudinary.com/drhoxtznf/image/upload/v1442773279/logo.min_a8vame.svg" />
		    </div>
		    {{> nav}}
		</div>

		<div id="content" class="container">
			
			<article class="primary">
			    {{{ contents }}}
			</article>

			<article class="endorsement">
				<blockquote>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</blockquote>
				<footer>Someone S.</footer>
			</article>

		</div>
	</div>
{{> footer}}